*{
    margin: 0;
    box-sizing: 0;
    padding: 0;
}

body {
    font: normal 20pt arial; /*Letra do site */
    justify-content: center;
    margin-top: 90px;
}

header {
    color: rgb(255, 255, 255); /*Cor do título */
    text-align: center; /*Local do título */
}

section {
    margin-top: 60px;
    font: normal 60pt arial;
    justify-content: space-between;
    background: rgba(60, 62, 65, 0.384); /*Cor da borda */
    border-radius: 10px;padding: 15px; /*Formato da borda */
    padding: 15px; /*Tamanho da borda */
    width: 300px; /*Largura da borda */
    margin: auto; /*Local da margem */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /*Sombra embaixo da margem */
}

.res{
    background: white;
    text-align: right; /* Para alinhar no canto */
    font-size: 50px;
    backdrop-filter: blur(5.5px);
    width: 250px;
    border-radius: 10px; padding: 5px;
    border: none;
    box-shadow: 1px 1px 1px;
    height: 60px;
}

.botões {
    margin: 10px;
    font-size: 30px;
    flex-basis: 20%;
}

#zero{
    border-radius: 10px; padding: 10px;
    width: 197px;
    font-size: large;
    cursor: pointer;
}

#C{
    border-radius: 10px; padding: 10px;
    width: 130px;
    font-size: large;
    cursor: pointer;
}

button{
    border-radius: 10px; padding: 10px;
    width: 60px;
    font-size: large;
    cursor: pointer;
    background-color: #007bff; /* Cor padrão dos botões */
    color: white; /* Texto branco */
    border: none; /* Sem bordas */
    transition: background-color 0.3s ease; /* Efeito de transição suave */
}
    
button:hover {
        background-color: #0056b3; /* Cor ao passar o mouse */
}

footer {
    color: rgb(0, 0, 0); /*Cor do meu nome */
    text-align: center; /*Local do meu nome */
    font-style: italic; /*Estilo da fonte */
}
